li {
	background-color: #000000;
	color: whitesmoke;
	margin: 0.5rem 0;
	padding: 0.75rem;
	border: 1px solid #ddd;
	border-radius: 5px;
	font-family: Arial, sans-serif;

}

ul {
	list-style: none;
	padding: 0;
}

h1 {
	text-align: center;
}

footer {
	text-align: center;
}
