<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>DJ Private Cloud</title>
	<link rel="stylesheet" href="/static/css/styles.css">
	<script src="https://unpkg.com/htmx.org@2.0.4"></script>
</head>

<body>
	<div class="grid-container">
		<!-- Header -->
		<header class="header">
			<div class="title">DJ Private Cloud</div>
			<div class="account">
				<a href="#">Account</a>
			</div>
		</header>

		<!-- Navbar -->
		<nav class="navbar">
			<ul>
				<li><a href="/">Dashboard</a></li>
				<li><a href="/vm">Virtual Machines</a></li>
				<li><a href="/containers">Containers</a></li>
				<li><a href="/networks">Networks</a></li>
				<li><a href="/storage">Storage</a></li>
			</ul>
		</nav>

		<!-- Main Content -->
		<main class="main-content">
			{{ template "content" .}}
		</main>
	</div>
</body>

</html>
